div.post {
  background-color: #eeeeee;
  border: 1px solid lightgray;

  padding: 16px;
  margin: 16px 48px;
  width: 800px;
}

img {
  width: 160px;
  height: auto;
  border: 1px solid #666666;
  float: left;
  margin: 0 16px 8px 0;
}
